*, *::before, *::after {
  box-sizing: border-box;
}

div {
  font-family:'Raleway', sans-serif;
  text-align: center;
}

div h2 {
  padding: 10px;
  font-weight:400;  
  font-size: 40px;
}

div h1 {
  padding: 10px;
  font-weight:800;  
  font-size: 70px;
}

.wordSection-Active {
  padding: 5px;
  font-weight:700;
  color: #62b0e4;
  opacity: 1;
}

.wordSection-Inactive {
  padding: 5px;
  font-weight:300;
  text-decoration: None;
  color: #f9f9f9;
  opacity: 0.5;
}

.heading {
  font-weight:400;
  line-height:1.7;
  padding: 10px;
}

body { 
  margin: 20px;
  background-color: #f9f9f9;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  background-color: #62b0e4; 
  color: #f9f9f9;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  transition-duration: 0.4s;
  padding: 10px;
  margin: 15px;
  border-radius: 12px;
}

button:hover {
  background-color: #2e96dc;
  color: #f9f9f9;
  cursor: pointer;
}

.active-animatioon {
  background-image: linear-gradient(90deg, #62b0e4 50%, transparent 50%), linear-gradient(90deg, #62b0e4 50%, transparent 50%), linear-gradient(0deg, #62b0e4 50%, transparent 50%), linear-gradient(0deg, #62b0e4 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 150px 10px, 150px 10px, 10px 150px, 10px 150px;
  background-position: left top, right bottom, left bottom, right   top;
  animation: border-dance 2s infinite linear;
}
@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right   top;
  }
  100% {
    background-position: left 150px top, right 150px bottom , left bottom 150px , right   top 150px;
  }
}

.timer {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  padding: 15px;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 900px;
  height: 400px;
  border: 0px;
  margin: auto;
  padding: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #ffe45c;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #ff6392;
  color: white;
  transform: rotateY(180deg);
}


.custom-field {
  font-size: 14px;
  position: relative;
  --field-padding: 12px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  padding: var(--field-padding);
  font-size: 12px;
}

.custom-field .placeholder {
  position: absolute;
  left: 12px;
  bottom: 50%;
  top: 22px;  
  transform: translateY(-50%);
  width: calc(100% - (var(--field-padding) * 2));
  width: auto;  
  color: #aaa;
  overflow: hidden;
  white-space: nowrap;
  left: var(--field-padding);
  text-overflow: ellipsis;
}

.playerList p {
  font-size: 10px;
  color: #606060;
}

.playerList p:onhover {
  text-decoration: line-through;
  color: #FF7700;
}

.add-player-button {
  border: none;
  width:38px;
  height:38px;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  padding: 12px;
  margin: 5px;
  border-radius: 3px;
  color: black;
}

/* On mouse-over */
.add-player-button:hover {background: #eee;}


